.main__search {
  background-image: url(../../../images/search.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 567px;
}

@media (max-width: 900px) {
  .main__search {
    background-image: url(../../../images/searchmedium.png);
    height: 400px
  }
}

@media (max-width: 580px) {
  .main__search {
    background-image: url(../../../images/searchsmall.png);
    height: 536px;
    background-size: cover;
  }
}