.header__links-articles {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  text-decoration: none;
  max-width: 178px;
  align-self: flex-end;
  margin-bottom: -14px;
  margin-left: 44px;
  padding-bottom: 23px;
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .header__links-articles {
    width: 160px;
    margin-bottom: -11px;
    padding-bottom: 17px;
    font-size: 16px;
  }
}