.container {
  width: calc(100% - 14.444%);
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    width: calc(100% - 10.4166%);
  }
}

@media (max-width: 580px) {
  .container {
    width: calc(100% - 10%);
  }
}