.results__more {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  background-color: white;
  margin: 0 auto 80px;
  padding: 20px 98px;
  border-radius: 80px;
  border: none;
}

.results__more:hover {
  cursor: pointer;
  opacity: .9;
}

@media (max-width: 900px) {
  .results__more {
    padding: 16px 75px;
    margin-bottom: 40px;
  }
}

@media (max-width: 510px) {
  .results__more {
    padding: 16px 98px;
  }
}