@import url(./__image/about__image.css);
@import url(./__info/about__info.css);
@import url(./__info-title/about__info-title.css);
@import url(./__info-text/about__info-text.css);
@import url(./__info-link/about__info-link.css);

.about {
  padding: 80px 0;
  display: flex;
}

@media (max-width: 900px) {
  .about {
    padding: 40px 0;
  }
}

@media (max-width: 510px) {
  .about {
    flex-direction: column;
  }
}