.search__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: white;
  max-width: 608px;
  margin: 80px auto 32px;
}

@media (max-width: 900px) {
  .search__title {
    margin: 38px 3px 16px;
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
  }
}

@media (max-width: 510px) {
  .search__title {
    max-width: 285px;
    margin: 0;
  }
}