.header__login-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0;
  width: 152px;
  text-align: center;
}

@media (max-width: 1024px) {
  .header__login-text {
    width: 128px;
    font-size: 16px;
  }
}