.about__info-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 30px;
}

@media (max-width: 900px) {
  .about__info-text {
    max-width: 424px;
  }
}