.results__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 64px;
}

@media (max-width: 900px) {
  .results__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 34px;
  }
}

@media (max-width: 580px) {
  .results__title {
    margin-bottom: 58px;
  }
}