@import url(./__circle/preloader__circle.css);
@import url(./__text/preloader__text.css);

.preloader {
  height: 282px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F6F7;
}
