.saved__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  max-width: 530px;
  margin: 0 0 30px;
}

@media (max-width: 900px) {
  .saved__title {
    font-size: 30px;
    line-height: 34px;
    max-width: 336px;
    margin-bottom: 16px;
  }
}

@media (max-width: 580px) {
  .saved__title {
    margin-bottom: 50px;
  }
}