.about__image {
  width: 464px;
  height: 100%;
}

@media (max-width: 900px) {
  .about__image {
    width: 232px;
    padding-top: 21px;
  }
}

@media (max-width: 510px) {
  .about__image {
    width: 272px;
    height: 100%;
    padding: 0 0 24px;
    margin: 0 auto;
  }
}