.saved__subtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  opacity: .5;
  margin: 0 0 28px;
}

@media (max-width: 900px) {
  .saved__subtitle {
    font-size: 14px;
    margin: 0 0 16px;
  }
}

@media (max-width: 510px) {
  .saved__subtitle {
    font-size: 12px;

  }
}