@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__links-item/footer__links-item.css);
@import url(./__links-logo/footer__links-logo.css);

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 106px
}

@media (max-width: 900px) {
  .footer {
    margin: 0 40px;
  }
}

@media (max-width: 580px) {
  .footer {
    flex-direction: column-reverse;
    height: 174px;
    margin: 0;
    align-items: flex-start;
  }
}