.card__img-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 900px) {
  .card__img-image {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 510px) {
  .card__img-image {
    width: 100%;
    height: 100%;
  }
}