.search__subtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  max-width: 608px;
  margin: 0 auto 88px;
  color: white;
}

@media (max-width: 1024px) {
  .search__subtitle {
    line-height: 24px;
    max-width: 452px;
    margin: 0 0 48px;
  }
}